In [ ]:
table_number = int(input("Enter the number: "))

for x in range(0,11):
    z = table_number*x
    
    print(table_number, '*',x,'=',z)

In [ ]:
ntural_no = int(input("Enter a natural number: "))
y = 0

add = sum(range(0,ntural_no+1)) 

print(add)

In [ ]:
num = int(input("Enter a num: "))
facto = 1

if num == 0:
    print('1')
elif num < 0:
  print("Not a valid option")
else :
  for n in range(1,num+1):
    facto = n*facto
    print(facto)